.header-container{
   width: 100%;
   display: flex;
   background-color: rgb(214, 133, 72);
   justify-content: space-between;
}
.logo{
    font-size: 55px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-left: 20px;
    color: rgb(214, 133, 72);
    cursor: pointer;
}
.logout{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: #6a11cb;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgb(222, 135, 60));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(214, 133, 72))
    }